{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deco y Regalos</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <!-- Barra de navegación -->
    <nav>
        <div class="nav-brand">
            <div class="nav-logo-container">
                <img src="/media/productos/logo1.png" alt="Logo" class="nav-logo">
            </div>
            <a href="{% url 'principal' %}"><h1>Deco & Regalos</h1></a>
        </div>
        <ul>
            <li><a href="{% url 'principal' %}">Tienda</a></li>
            <li><a href="{% url 'lista_productos' %}">Productos</a></li>
            <li><a href="{% url 'ver_carrito' %}">Carrito{% if total_items > 0 %} ({{ total_items }}){% endif %}</a></li>
            <li><a href="{ url 'ingresar' }">Ingresar</a></li>
        </ul>
    </nav>

    <!-- Descripción de la tienda -->
    <div class="description">
        <h4>Somos una Tienda con Identidad Chilena</h4>
        <p>Deco & Regalos ofrece una exclusiva selección de productos diseñados con amor y creatividad.</p>
        <p>Descubre artículos únicos de diseño de autor y detalles pensados para regalar en cualquier ocasión especial.</p>
    </div>
</body>
</html>
